.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-style: double none double;
  background-color: rgb(67, 105, 178);
  min-width: 50%;
}

.container > *,
.container > * > * > * {
  color: white;
}

ul {
  padding-inline-start: 0;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
}

button {
  background-color: rgba(67, 105, 178, 0.549);
  border-radius: 15px;
}

.name {
  font-weight: 500;
  font-size: large;
}
