@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.name {
  font-weight: 500;
  font-size: larger;
  font-family: 'Cabin', sans-serif;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

.header {
  color: white;
  border-color: white;
  display: flex;
}

.button {
  position: absolute;
  left: 0;
  color: white;
  border-color: white;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  background-color: rgb(67, 106, 178);
  color: rgb(255, 255, 255);
}

.img {
  max-width: 50%;
}

.flagInputContainer {
  display: flex;
  justify-content: space-around;
}
